<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMSFW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SMSFW.Properties.Settings>
            <setting name="SavedCom" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedBaud" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDatabits" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedStopbits" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSavingLoginCfg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSmtp" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSenderMail" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSenderName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReceiverMail" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailReceiverName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSsl" serializeAs="String">
                <value>False</value>
            </setting>
        </SMSFW.Properties.Settings>
    </userSettings>
</configuration>