<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApeFree.ApeDialogs" version="0.10.14" targetFramework="net472" />
  <package id="ApeFree.ApeForms.Core" version="0.11.3" targetFramework="net472" />
  <package id="ApeFree.ApeForms.Forms" version="0.11.3" targetFramework="net472" />
  <package id="ApeFree.ApeForms.TemplateNest" version="0.11.3.4" targetFramework="net472" />
  <package id="ApeFree.Cake2D" version="0.0.3" targetFramework="net472" />
  <package id="STTech.CodePlus" version="1.5.14" targetFramework="net472" />
</packages>